DOCUMENTDB_CONNECTION_STRING=mongodb://localhost:27017
OPENAI_API_KEY=
COLLECTION_NAME=listings
DATABASE_NAME=contoso_bookings
OPENAI_EMBEDDING_MODEL=text-embedding-3-small
OPENAI_CHAT_MODEL=gpt-3.5-turbo
REACT_APP_CONTOSO_BOOKINGS_AZURE_MAPS_KEY=